
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Kamp Tablo</h3>
<br />

<table class="table table-hover">
    <tr>
        <th>Kategori Ad</th>
        <th>Kategori Acıklaması</th>
        <th>Kategori Durumu</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>Egitim</td>
        <td>Acıkalmalı</td>
        <td>tur</td>
        <td>
            <button class="btn btn-info">Güncelle</button>
        </td>
    </tr>
    <tr>
        <td>Sinema</td>
        <td>Acıkalmalı</td>
        <td>tur</td>
        <td>
            <button class="btn btn-info">Güncelle</button>
        </td>
    </tr>
    <tr>
        <td>Kita</td>
        <td>Acıkalmalı</td>
        <td>tur</td>
        <td>
            <button class="btn btn-info">Güncelle</button>
        </td>
    </tr>
    <tr>
        <td>Film</td>
        <td>Acıkalmalı</td>
        <td>tur</td>
        <td>
            <button class="btn btn-info">Güncelle</button>
        </td>
    </tr>
</table>

<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>